.header {
    width: 100%;
}

.header__inner {
    background-color: black;
    padding: 20px 20px;
}

.header__logo {
    padding: 5px 5px;
    display: flex;
    justify-content: left;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content__title {
    text-align: center;
    padding: 20px;
    font-size: 36px;
}

.content__form {
    margin: 0 auto;
    width: 50%;
}

.form__login {
    padding: 5px;
}

.form__login--label {
    display: block;
    font-size: 24px;
}

.form__login--item {
    padding: 5px;
    width: 100%;
    font-size: 24px;
    margin: 5px;
}

.form__login--button {
    display: block;
    margin: 40px 0px;
    text-align: center;
    width: 100%;
    background-color: #FF5555;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #FF5555;
    padding: 10px;
    font-size: 26px;
    cursor: pointer;
}

.content__register {
    text-align: center;

}

.content__register--item {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
}