.header {
    width: 100%;
}

.header__inner {
    background-color: black;
    padding: 20px 20px;
}

.header__logo {
    padding: 5px 5px;
    display: flex;
    justify-content: left;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content__span {
    text-align: center;
}

.content__form {
    margin: 0 auto;
    width: 50%;
}

.form__button {
    display: block;
    text-align: center;
    cursor: pointer;
    margin: auto;
}